@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,500&family=Dancing+Script&family=Playfair+Display&family=Roboto:wght@100&display=swap');
.App {
  width: 800px;
  height: 370px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom right, rgba(22, 22, 148, 0.384), rgba(202, 165, 42, 0.589));
  border-radius: 50px;
}
.info{
  display: flex;
  flex-direction: column;
  width: 370px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  font-family: 'Cormorant', serif;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 7px;
  word-spacing: 10px;
  color: rgb(65, 64, 64);
}